.wrapper {
  margin: 0 auto;
  width: 1440px;
}

body {
  margin: 0;
  background-image: url("Slicing/pattern-bg.png");
  background-color: #012c1f;
}

/*---------------sticky div----------------*/

/*---------------top bar----------------*/

#top-bar {
  background-color: white;
  padding: 10px 0;
  display: flex;
}

.live {
  width: 97%;
}

.cross {
  width: 1%;
  float: right;
  padding-top: 1px;
  padding-right: 53px;
}

.fa,
.fas {
  color: #2d834a;
}

.live p {
  width: 90%;
  text-align: center;
  font-size: 10pt;
  font-family: Roboto;
  color: #222222;
  margin: 0;
  padding: 8px 0 0 13%;
  font-weight: 600;
}

.live a {
  text-decoration: none;
  color: #217f40;
}

.cross img {
  float: left;
  display: inline;
}

.cross a {
  font-size: 24px;
  /* right: 27px; */
  /* position: absolute; */
  color: #32864e;
}
.cross button{
  border: navajowhite;
  background-color: transparent;
}

/*---------------utility-navbar----------------*/

.utility-navbar {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 60px;
}

.logo {
  width: 50%;
}

.buttons {
  width: 50%;
  text-align: end;
  padding-right: 12px;
}

.buttons button {
  padding: 4px 0;
  background-color: #195b3a;
  text-decoration: none;
  transform: skew(-15deg);
  color: white;
  margin: 9px;
  cursor: pointer;
}

.buttons .active {
  background-color: #298246;

}

.buttons p {
  padding: 0px 31px;
  margin: 7px 0;
  font-family: Myriad Pro;
    font-size: 10pt;
    font-weight: 600;
}

.logo img {
  padding: 14px 13px 1px 22px;
  cursor: pointer;
  /* top: 47px; */
  /* position: absolute; */
}


/*---------------Nav-bar----------------*/


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;

}
.secondar-navbar li :first-child{
  padding-left: 10px;
}
nav {
  background-color: #195b3a;
  width: 100%;
  height: 60px;
}

nav ul {
  width: 80%;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 7px;
  transform: skew(-15deg);
  padding-left: 13px;

}

nav ul li a {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 21px 26px;
}

a.active,
li:hover {
  background-color: #268144;
}



/*---------------responsive----------------*/



.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  position: absolute;
  right: -27px;
  top: 70px;
}

#check {
  display: none;
}

@media (max-width:394px) {
  .checkbtn {
    display: block;
  }
  nav {
    background-color:transparent !important;
    width: 100%;
    height: 60px;
}
  ul {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #195b3a;
    top: 10px;
    left: -100%;
    text-align: left;
    transition: all .5s;
  }
 .title{
  display: none !important;
 }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: white;
  }

  #check:checked~ul {
    left: 0;
  }
}

/*---------------title----------------*/

.title {
  /* display: flex; */
  width: 100%;
  margin: 0 auto;
  height: 100px;
  /* background-color: #fff; */
  background-image: linear-gradient(to right, #1b7d3b, rgb(255, 255, 255));
}

.home {
  width: 80%;
  margin:  0 auto;
  display: flex;
}
.home-page{
  width: 70%;
  background-color: #3a8753;
  clip-path: polygon(0% 0%,100% 0%,calc(100% - 26px) 100%,0% 100%);
}

.home h3 {
  font-size: 33px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 3;
  padding-left: 15px;
}

.presented {
  width: 30%;
  float: right;
}

.by {
  line-height: 50px;
  color: #217f40;
  background-color: white;
  transform: skew(-15deg);
  padding-left: 40px;
  margin-left: -12px;
}

.by p {
  font-size: 14px;
  text-align: center;
  width: 50%;
}

/*---------------Slider----------------*/
.heroBG {
  display: flex;
}

.ful {
  display: flex;
}

.text {
  float: left;
  width: 60%;
}

.heroBG img {
  max-width: -webkit-fill-available;
  opacity: 0.6;
}

.text h3 {
  font-family: Oswald Medium;
  font-size: 50pt;
  color: #fff;
  line-height: 1;
  padding: 127px 120px 10px 166px;
}

.text p {
  font-family: Oswald Medium;
  font-size: 18pt;
  color: #fff;
  line-height: 1;
  padding: 10px 167px 0 166px;
}

.Thumbnail img {
  padding: 90px 250px 75px 0;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: none !important;
  outline: none !important;
  background: none !important;
  /* margin-right: -30px!important; */
}

.slick-prev {
  left: 30px !important;
}

.slick-next {
  right: 25px !important;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
  background: rgba(0, 0, 0, 0.7) url(slicing/hero-bg.png) !important;
  background-size: initial !important;
  background-blend-mode: overlay !important;
  padding-bottom: 9px !important;
}

.slick-next:before,
.slick-prev:before {
  font-family: slick !important;
  font-size: 45px !important;
  line-height: 1 !important;
  opacity: .75 !important;
  color: transparent !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

/*---------------whole div----------------*/
.data {
  display: flex;
}

.left {
  width: 70%;
  float: left;
}

.owl-carousel {
  position: relative;
  overflow: hidden;
  /* -webkit-transform: translate3d(0,0,0); */
  width: 100% !important;
  /* margin: 0 auto !important; */
  padding-top: 86px !important;
  padding-left: 135px;
}

.owl-stage-outer {
  width: 80% !important;
  margin-left: 86px !important;
}

.owl-dots {
  padding-top: 10px;
}

.owl-dot span {
  width: 38px !important;
  border-radius: none !important;
  height: 4px !important;
}

.owl-nav {
  position: absolute !important;
}

.owl-prev {
  position: absolute;
  background: 0 0;
  color: #fff !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  left: 22px !important;
  top: -129px !important;
  font-size: 70px !important;
}

.owl-next {
  position: absolute;
  background: 0 0;
  color: #fff !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  right: -863px !important;
  top: -133px !important;
  font-size: 70px !important;
}

.right {
  float: right;
  width: 30%;
}

/*---------------cards----------------*/

.cards {
  width: 101%;
  /* margin: 0 auto; */
  padding: 100px 0;
  height: 497px;
  padding-left: 163px;
}

.card {
  width: 33%;
  float: left;
}

.card ::after {
  padding-left: 0;
}

.image {
  height: 160px;
}

.card img {
  width: 257px;
  height: 160px;
  cursor: pointer;
}

.Container {
  background-color: #2c8449;
  width: 91%;
}

.Container h5 {
  margin: 0;
  color: white;
  padding: 10px 10px;
  text-transform: uppercase;
  font-family: Roboto;
    font-size: 14pt;
}

.Container p {
  padding: 0px 10px 20px 10px;
  color: #d2e5d8;
  font-size: 14px;
}

.Container button {
  background-color: #1d5e3e;
  padding: 15px 67.8px;
  border: none;
}

.Container a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

/*---------------champs----------------*/
.champs {
  width: 98%;
  padding-left: 163px;
}
.lft{
  clip-path: polygon(0% 0%,100% 0%,calc(100% - 80px) 100%,0% 100%);
    width: 100%;
}
.lft img {
  height: 240px;
  width: 490px;
}

.rit h4 {
  font-size: 15pt;
  color: white;
  font-family: Oswald;

}

.rit p {
  font-size: 14px;
  color: white;
  font-family: Oswald;
}

.upper {
  display: flex;
}

.rit {
  height: 100%;
  background-color: #1b5d3c;
  padding: 80px 65px;
  clip-path: polygon(20% 0%,100% 0%,calc(100% - 0px) 100%,0% 100%);
  margin-left: -102px;
}

.ritDown img {
  height: 240px;
  width: 493px;
}

.lower {
  display: flex;
  margin: -5px 0 0 0;
}

.lftDown {
  height: 100%;
  background-color: #1b5d3c;
  padding: 81px 20px;
    width: 100%;
    clip-path: polygon(0% 0%,85% 0%,calc(100% - 0px) 100%,0% 100%);
    margin-right: -60px;
}
.ritDown{
  width: 60%;
}

.lftDown h4 {
  font-size: 15pt;
  color: white;
  font-family: Oswald;
}

.lftDown p {
  font-size: 14px;
  color: white;
  font-family: Oswald;
}


/* Contat US */
.contact {
  padding: 72px 0 0 0;
}

.container {
  /* max-width: 700px; */
  /* width: 100%; */
  background-color: #125735;
  padding: 0px 31%;
  padding-bottom: 18px;
}

.container .Title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: aliceblue;
  padding: 40px 0 0 125px;
  margin-bottom: -25px;
}

.content{
  padding-top: 30px;
}
.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 -5px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #fff;
  text-transform: uppercase;
}

.user-details .input-box input {
  height: 38px;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
}

.input-box input {
  height: 100px;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
}

.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

form .category {
  display: flex;
  width: 42%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #125735;
  border-color: #d9d9d9;
}

form input[type="radio"] {
  display: none;
}

form .button {
  padding: 13px 0 25px 36%;
}

form .button input {
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #26493e;
  padding: 7px 40px;
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

/*---------------Events----------------*/
.events {
  padding: 82px 12px;
  width: 65%;
}

.heading {
  background-color: #08512d;
  padding: 9px 0 6px 15px;
  width: 100%;
}

.heading h5 {
  font-size: 20pt;
  font-family: Oswald Medium;
  color: #fff;
  text-align: left;
}

.evets {
  width: 100%;
  background-color: #1b7d3b;
  padding-bottom: 22px;
}

.programs {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
}

.no {
  float: left;
  background-color: #fff;
  padding: 14px 19px;
}

.Data {
  padding-left: 10px;
}

.Data h3 {
  color: #fff;
  text-decoration: underline;
  font-size: 15pt;
  font-family: Oswald Medium;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.Data h4 {
  color: #fff;
  font-size: 16pt;
  font-family: Oswald Medium;
}

/*---------------Footer Nav-bar----------------*/
.footerNav {
  background-color: transparent !important;
  height: auto !important;
}

.footerNav ul {
  width: auto !important;
  margin: 0 !important;
}

.footNav {
  width: 42% !important;
  margin: 0 auto !important;
  padding-top: 32px;
}

.footerNav li {
  display: inline-block;
  line-height: 0 !important;
  margin: 0 -9px !important;
  transform: none !;
  padding-left: 0 !important;
}

.socials {
  width: 20%;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

.copyright {
  width: 20%;
  margin: 0 auto;
  padding: 15px 0 26px 0;
  text-align: center;
  color: #fff;
}

.icons a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
}



/*---------------TAB RESPONSIVE ----------------*/

@media(max-width: 1000px) {
  .wrapper{
    width: 980px;
  }
  #top-bar{
    padding: 8px 0;
  }
  .cross{
    padding-right: 39px;
  }
  .logo img{
    padding: 14px 13px 1px 15px;
  }
  .utility-navbar {
    width: 100%;
  }

  nav ul {
    width: 100%;
    margin: 0;
  }

  nav ul li {
    padding-left: 10px;
  }

  nav ul li a {
    padding: 20px 10px;
    ;
  }

  .title {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, #2a8949, rgb(255, 255, 255));
  }

  .home {
    width: 97%;
  }

  .by {
    line-height: 40px;
    color: #217f40;
    background-color: white;
    transform: skew(-18deg);
    padding-left: 40px;
  }

  .home h3 {
    line-height: 2.5;
    letter-spacing: -0.1em;
    padding-left: 0;
  }

  .text {
    width: 60%;
  }

  .text h3 {
    font-family: Oswald Medium;
    font-size: 42pt;
    color: #fff;
    line-height: 1;
    padding: 80px 20px 10px 9px;
  }

  .Thumbnail img {
    padding: 70px 90px 0px 0;
  }

  .text p {
    padding: 0 20px;
  }

  .slick-slider .slick-list {
    padding-bottom: 0 !important;
  }

  .owl-carousel{
    padding-left: 0 !important;
  }
  .owl-nav {
    display: none;
  }

  .cards {
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
    height: 55%;

  }

  .card {
    width: 50%;
    padding: 30px 15px 0 15px;
  }

  .card img {
    width: 313px;
    height: 160px;
  }

  .Container {
    width: 100%;
  }

  .Container button {
    padding: 11px 95.9px;
  }

  .Container h5 {
    padding: 20px 10px;
  }

  .Container p {
    padding: 6px 10px 28px 10px;
  }

  .champs {
    display: inline-block;
    padding-left: 16px;
    padding-top: 13px;
   }

  .lft {
    width: 50%;
  }
  .rit {
    height: 100%;
    background-color: #1b5d3c;
    padding: 66px 73px 56px 117px;
    margin-left: -80px;
}
  .ritDown {
    width: 50%;
  }
  .lftDown {
    height: 100%;
    background-color: #1b5d3c;
    padding:65px 134px 56px 28px;
}
  .ritDown img {
    padding-right: 53px;
    height: 240px;
    width: 380px;
  }

  .contact {
    padding: 77px 0 0 0;
  }
  .content{
    padding-top: 12px;
  }
  .container {
    padding: 0 22%;
    padding-bottom: 20px;
  }

  .container .title {
    padding: 40px 0 0 47px;
  }

  .content form .user-details {
    margin: 38px 0 -5px 0;
  }

  .footNav {
    width: 46% !important;
    margin: 0 auto !important;
    padding-top: 34px;
  }

  .copyright {
    width: 30%;
    font-size: small;
  }

  .events {
    padding: 65px 16px 0 26px;
    width: 100%;
  }

  .evets
   {
    padding-bottom: 3px;
  }

}
/*---------------MBL RESPONSIVE ----------------*/

@media(max-width: 394px) {
  .wrapper{
    width: 374px;
  }
#top-bar{
  padding: 18px 0;
}
.live p {
  padding-left: 14px;
  font-size: 12px;
  text-align: left;
}
.cross a {
  right: 15px;
}
.logo img {
  top: 80px;
  left: -7px;
  height: 40px;
}
.logo{
  width: 100%;
}
.buttons {
  width: 100%;
  text-align: end;
  /* padding-right: 50px; */
  display: inline-flex;
  position: relative;
  top: 60px;
  right: 110px;
}
.buttons button{
  padding: 4px 0;
  transform: none;
}
.slick-slider .slick-list {
    padding-bottom: 0 !important;
    width: 100%;
}
.ful{
  display: block;
}
.text{
  width: 100%;
}
.text h3{
  padding: 100px 25px 25px 25px;
  font-size: 29pt;
}
.text p{
  padding: 0 25px;
}
.Thumbnail img {
  padding: 40px 60px 0px 65px
}
 .owl-carousel.owl-loaded {
  display: none !important;
}
.left{
  width: 100%;
}
.card{
  width: 100%;
}
.card img {
  width: 339px;
  height: 160px;
}
.Container button {
  padding: 11px 111px;
}
.champs {
  display: inline-block;
  width: 100%;
  padding: 24px 15px;
}
.data{
  display: block;
}
.upper{
  display: block;
}
.lft{
  width: 100%;
  clip-path: none;
}
.lft img {
  height: 200px;
  width: 344px;
}
.rit {
  height: 100%;
  background-color: #1b7d3b;
  padding: 30px 10px;
  margin-top: -4px;
  margin-right: 0px;
  margin-left: 0;
  clip-path: none;
}
.lower{
  display: block;
}
.lftDown {
  height: 100%;
  background-color: #1b7d3b;
  padding: 30px 10px;
  margin-top: -4px;
  margin-right: 0px;
  position: relative;
  top: 205px;
  clip-path: none;
}
.ritDown {
  width: 100%;
  position: relative;
  top: -135px;
}
.ritDown img {
  padding-right: 0;
    height: 200px;
    width: 344px;
}
.right{
  width: 100%;
}
.events {
  padding: 15px;
}
.evets {
  padding-bottom: 20px;
}
.container {
  padding: 0px 3%;
}
.container .Title{
  padding: 34px 0 0 30px;
}
.contact {
  padding: 640% 0px 0 0;
}
form .gender-details  {
padding-top: 15px;
}
form .button {
  padding:22px 100px;
}
.footerNav{
  display: none !important;
}
.socials{
  width: 100%;
}
.copyright{
  width: 100%;
}
}


